{% load static %}
<div id="automata_container">
    <div id="automata_list">
        <ul>
            {% for graph in graph_list %}
            <li class="graph_name" data-value={{graph.id}}>{{graph.name}}</li>
            {% endfor %}
        </ul>

        <button id="add-button">+</button>
    </div>

    <div id="automaton_txt">
        <div id="automaton_txt_header">
            <button id="save_graph">Save</button>
            <button id="delete_graph">Delete</button>
            <div style="padding: 0;">
                format:
                <select id="format-selector">
                    {% for format in format_list %}
                    <option value="{{format.name}}" data-editable="{{format.editable}}">{{format.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <textarea id="automaton-content" disabled></textarea>
    </div>

    <div id="automaton_image">

    </div>
</div>