{% load static %}
<div id="automata_container">
    <div id="automata_list">
        <ul>
            {% for graph in graph_list %}
            <li data-value={{graph.id}}>{{graph.name}}</li>
            {% endfor %}
        </ul>

        <button id="add-button">+</button>
    </div>

    <div id="automaton_txt">
        <div id="automaton_txt_header">
            <button>Save</button>
            <button>Delete</button>
            <div style="padding: 0;">
                format:
                <select>
                    {% for format in format_list %}
                    <option value="{{format.name}}">{{format.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <pre id="automaton-content"></pre>
    </div>

    <div id="automaton_image">
        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <image xlink:href="{% static 'images/example.svg' %}" width="100%" height="100%" />
        </svg>
    </div>
</div>