{% load static %}
<div class="object_view">
    <div class="object_txt">
        <div class="object_txt_header">
            <button class="save_graph">Save to storage</button>
            <!-- <button>Download</button> -->
            <div style="padding: 0;">
                format:

                <select class="format-selector">
                    {% for format in format_list %}
                    <option value="{{format.name}}">{{format.name}}</option>
                    {% endfor %}

                </select>
            </div>
        </div>

        {% for format in format_list %}
        {% if format.name == 'DSL' %}
        <pre class="object_format" data-value="{{format.name}}" style="display: block;">{{format.txt}}</pre>
        {% else %}
        <pre class="object_format" data-value="{{format.name}}" style="display: none;">{{format.txt}}</pre>
        {% endif %}
        {% endfor %}
    </div>

    <div class="object_image">
        <button class="get_tex_view">Render LaTeX version</button>
        <div class="object_figure">
            {{svg_graph|safe}}
        </div>
    </div>
</div>