{% extends 'base/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/input_page.css' %}">
<link rel="stylesheet" href="{% static 'css/automata_list.css' %}">
{% endblock %}

{% block content %}
<div id="loading-spinner"></div>
<div id="alert">Error</div>

{% include 'converter/input.html' %}

<details open>
    <summary>Automata list</summary>
    {% include 'converter/automata_list.html' %}
</details>

{% comment %} <h1>Страница приложения generator</h1>
<a href="{% url 'converter:generator' %}">Генератор</a> {% endcomment %}

<script src="{% static 'scripts/script.js' %}"></script>
<script src="{% static 'scripts/index.js' %}"></script>

{% endblock %}