{% extends 'base/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/input_page.css' %}">
<link rel="stylesheet" href="{% static 'css/automata_list.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.29.2/cytoscape.min.js"></script>
{% endblock %}

{% block content %}
<div id="loading-spinner"></div>
<div id="alert">Error</div>

{% include 'converter/input.html' %}

<details open>
    <summary>Automata list</summary>
    {% include 'converter/automata_list.html' %}
</details>

<script src="{% static 'scripts/script.js' %}"></script>
<script src="{% static 'scripts/index.js' %}"></script>
<script src="{% static 'scripts/cytoscape.js' %}"></script>

{% endblock %}