
<div style="display: grid; grid-template-columns: 7fr 3fr;">
    <form action="/result/" method="post"">
        {% csrf_token %}
        <p class="large_text">Entry text:</p>
        <textarea name="input-txt" id="input-txt" style="width: 100%; height: 300px; font-size: larger;"></textarea>
        <button type="submit" style="margin: 20px;">Run</button>
    </form>
    <div id="input-right-panel">
        <select>
            <option value="" disabled selected>Function</option>
            <option value="func1">func 1</option>
        </select>
        <div style="display: flex; flex-direction: column;">
        <select id="generator-selector">
            <option value="" disabled selected>Generate argument</option>
            <option value="Regex">Regex</option>
            <option value="BackRefRegex">BackRefRegex</option>
            <option value="NFA">NFA</option>
            <option value="MFA">MFA</option>
        </select>
        <p id="generator_result"> </p>
        </div>
        <button id="randomtest">Generate test</button>
    </div>
</div>