<div style="display: grid; grid-template-columns: 7fr 3fr;">
    <form id="chipollino-form" action="/result/" method="post"">
        {% csrf_token %}
        <p class=" large_text">Input text:</p>
        <textarea name="input-txt" id="input-txt" placeholder='RemEps.Thompson {abc|abb} !!'></textarea>
        <button type="submit" style="margin: 20px;">Run</button>
    </form>
    <div id="input-right-panel">
        <select>
            <option value="" disabled selected>Function</option>
            {% for func in func_list %}
            <option value="{{func.name}}">{{func.name}}: {{func.arguments}} -> {{func.return_type}}</option>
            {% endfor %}
        </select>
        <div style="display: flex; flex-direction: column;">
            <div id="generator-selector">
                <button id="gen_arg">Generate argument</button>
                <div id="args_list">
                    <div class="gen_object" id="Regex">Regex</div>
                    <div class="gen_object" id="BackRefRegex">BackRefRegex</div>
                    <!-- <div class="gen_object" id="NFA">NFA</div>
                    <div class="gen_object" id="MFA">MFA</div> -->
                </div>
            </div>
            <p id="generator_result">&nbsp;</p>
        </div>
        <!-- <button id="randomtest">Generate test</button> -->
    </div>
</div>