<p class="large_text">Entry text:</p>
<div style="display: flex">
      <textarea style="width: 70%; height: 300px; font-size: larger;"></textarea>
      <div id="input-right-panel">
        <select>
          <option value="" disabled selected>Function</option>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
        <select>
          <option value="" disabled selected>Generate argument</option>
          <option value="regex">Regex</option>
          <option value="nfa">NFA</option>
          <option value="mfa">MFA</option>
        </select>
      </div>
</div>
<button style="margin: 20px;">Run</button>
  