{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/onion.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="{% url 'converter:index' %}" class="site-title" >
                <h3>Chipollino — Formal Languages Converter</h3>
            </a>
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="https://github.com/OnionGrief/Chipollino" target="_blank">
                            <img src="{% static 'images/git_icon.png' %}" alt="GitHub" class="github-icon">
                            GitHub
                        </a>
                    </li>
                    <div class="help-link">
                        <a href="{% url 'converter:help' %}">
                            <i class="fas fa-question-circle" style="margin-right: 5px;"></i>
                            Help
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Account</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>

</html>