.automaton_view {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
    margin: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.automaton_txt {
    padding: 10px;
    border-radius: 8px;
    background-color: #e6e6e6;
    overflow: auto;
}

.automaton_txt_header {
    padding: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
}

.automaton_format {
    padding: 10px;
}

.automaton_image {
    position: relative;
    height: auto;
}

.get_tikz_graph {
    position: absolute;
    top: -35px;
    right: 10px;
}

#htmlres p {
    margin-block-start: 3px;
    margin-block-end: 3px;
}