#blocklatex a {
    margin: 0px 10px;
}

.object_view {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
    margin: 10px 20px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.object_txt {
    padding: 10px;
    border-radius: 8px;
    background-color: #e6e6e6;
    overflow: auto;
    max-height: 350px;
}

.object_txt_header {
    padding: 5px;
    border-radius: 4px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
}

.object_format {
    padding: 10px;
}

.object_image {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    max-height: 350px;
}

.object_figure {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.get_tex_view {
    position: absolute;
    top: -20px;
    right: 10px;
}

#selector-container {
    display: flex;
    justify-content: center;
}

#block-selector {
    margin-block-end: 20px;
    margin-inline-start: 5px;
}

#htmlres p {
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-start: 20px;
}

.text {
    white-space: pre;
    text-wrap: pretty;
    margin-block-start: 2px;
    margin-block-end: 2px;
    margin-inline-start: 20px;
}

#htmlres pre {
    margin: 0;
}

#htmlres h3 {
    align-self: center;
    margin-block-start: 10px;
    margin-block-end: 0;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 0px 8px;
    text-align: center;
}

th.top {
    background-color: #f0f0f0;
    border-bottom: 1px solid rgb(200 200 200);
}

th.left {
    border-right: 1px solid rgb(200 200 200);
}
