.large_text {
    font-size: x-large;
}

#alert {
    padding: 4px 30px;
    background-color: #4f5357;
    color: #e8ecf2;
    opacity: 0;
    transition: opacity 0.5s linear;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    border-radius: 5px;
}

#loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #b1bac1;
    border-top: 8px solid #61717d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.copy-button {
    width: 17px;
    cursor: pointer;
    display: inline-flex;

}

.copy-button img {
    width: 100%;
    height: 100%;
}