.header-container {
    background-color: #e6e6e6; /* Цвет полосы */
    color: #6c6c6c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-nav li {
    display: flex;
    align-items: center;
}

.header-container a {
    display: contents;
    color: #6c6c6c;
    text-decoration: none;
    font-size: 16px;
}

.site-title h3 {
    margin: 0;
}

.header-nav a:hover {
    text-decoration: underline;
}

.github-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}


.large_text {
    font-size: x-large;
}

#alert {
    padding: 4px 30px;
    background-color: #4f5357;
    color: #e8ecf2;
    opacity: 0;
    transition: opacity 0.5s linear;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    border-radius: 5px;
}

#loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #b1bac1;
    border-top: 8px solid #61717d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.copy-button {
    width: 17px;
    cursor: pointer;
    display: inline-flex;

}

.copy-button img {
    width: 100%;
    height: 100%;
}

.a-button {
    display: inline-block;
    padding: 5px;
    width: 120px;
    margin-block-end: 10px;
    color: #6c6c6c;
    background-color: #e6e6e6;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a-button:hover {
    background-color: #c1c1c1; /* Фоновый цвет кнопки при наведении */
}
