{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<h2>Profile</h2>
<p>Username: {{ user.username }}</p>
<a href="{% url 'edit_profile' %}" class="a-button">Edit Profile</a><br>
<div onclick="confirmDelete()" class="a-button">Delete Account</div>
<form id="delete-account-form" method="post" action="{% url 'delete_account' %}" style="display: none;">
    {% csrf_token %}
</form>
<script>
    function confirmDelete() {
        if (confirm('Are you sure you want to delete your account? This action cannot be undone.')) {
            document.getElementById('delete-account-form').submit();
        }
    }
</script>
{% endblock %}