{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        {{ form.password1 }}
    </div>
    <div>
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {{ form.password2 }}
    </div>
    <button type="submit">Sign Up</button>
</form>

{% endblock %}